@model IEnumerable<Employee>
@{
    ViewBag.Title = "Employee List";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
    <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
</head>
<body>
    <div class="container">
        <div class="card-deck">
            @foreach (var employee in Model)
            {
                var filePath = "~/images/" + (employee.PhotoPath ?? "no-image.jpg"); /*for file path set*/

                <div class="card m-3" style="min-width:18rem; max-width:30.5%;">
                    <div class="card-header">
                        <h3>@employee.Name</h3>
                    </div>
                    <img class="card-img-top imageThumbnail" src="@filePath" alt="card-image" asp-append-version="true" />

                    <div class="card-footer text-center">
                        <a asp-controller="Home" asp-action="Details" asp-route-id="@employee.Id"
                           class="btn btn-primary m-1">View</a>
                        <a asp-controller="Home" asp-action="Edit" asp-route-id="@employee.Id" class="btn btn-primary m-1">Edit</a>
                        <a href="#" class="btn btn-danger m-1">Delete</a>
                    </div>
                </div>
            }
        </div>
    </div>
</body>
</html>
